<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.mgzmsys.mapper.TaskChildMapper">

    <update id="updateChildTask" parameterType="map">
        UPDATE child_task
        <set>
            <!-- 使用动态语句根据传入的 Map 决定更新哪些字段 -->
            <if test="answer != null">answer = #{answer},</if>
            <if test="finish_at != null">finish_at = #{finish_at},</if>
            <!-- 继续添加其他需要更新的字段 -->
        </set>
        WHERE task_id = #{taskId} AND child_id = #{childId}
    </update>

</mapper>

